<div class="breadcramb">
    <a href="#/groups">groups/</a><a href="#groups/{{groupname}}">{{groupname}}/</a><a href="#groups/{{groupname}}/users">users</a>
</div>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="#/groups/{{groupname}}">Group info</a></li>
  <li role="presentation" class="active" ><a href="#">Group users</a></li>
</ul>

<table class="table table-striped">

      <thead>
       <tr>
         <th>Username</th>
         <th>First name</th>
         <th>Last name</th>
         <th>Email</th>
       </tr>
      </thead>

      <tbody>
        <tr ng-repeat="user in users | filter: {groups: groupname}">
          <td><a href="#/users/{{user.username}}">{{user.username}}</a></td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
</table>