<div class="breadcramb">
  <a href="#/users">users</a>
</div>

<div class="userList">
  Search: <input ng-model="query">
    
    <table class="table table-striped">

      <thead>
       <tr>
         <th>Username</th>
         <th>First name</th>
         <th>Last name</th>
         <th>Email</th>
       </tr>
      </thead>

      <tbody>
        <tr ng-repeat="user in users | filter:query">
          <td><a href="#/users/{{user.username}}">{{user.username}}</a></td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
    </table>
    <pagination total-items="TotalItems" ng-model="CurrentPage"
                max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>

</div>