<div class="breadcramb">
  <a href="#/users">users/</a><a href="#users/{{username}}">{{username}}</a><br>
</div>

<form name="userEdit" ng-repeat="user in users | filter:{username: username}">
	<label>
		Username:
		<input type="text" name="username" ng-model="user.username" required>
	</label></br>
	<label>
		First name:
		<input type="text" name="firstName" ng-model="user.firstName" required>
	</label></br>
	<label>
		Last name:
		<input type="text" name="lastName" ng-model="user.lastName" required>
	</label></br>
	<label>
		Email:
		<input type="text" name="email" ng-model="user.email" required>
	</label></br>
	<input type="submit" id="submit" value="Submit" />
</form>
<h4>User groups</h4>

<ul ng-repeat="user in users | filter:{username: username}">
	<li ng-repeat="group in user.groups"><a href="#/groups/{{group}}">{{group}}</a></li>
</ul>
